<template name="calendarEvent">
    <div class="modal fade" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- <div class="post_input" id="post_context_div">{{{postNote}}}</div> -->
                    <div class="form-control post-form" id="blind_context" contenteditable="true" placeholder="쓰거라 상큼한 회사생활." autofocus></div>
                    <!-- <textarea class="post_textarea" rows="5" placeholder="써보자 상큼한 회사생활." id="post_context"></textarea> -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submit" name="submit">저장하기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</template>