<template name="notice">
	<div {{notiattr}} class="notice-wrapper">
		<a class="pull-right" href="#" style="color: rgb(255, 255, 255); font-size: 20px;" data-toggle="tooltip" title="다시 보지 않기">×</a>
		<a href="#" style="color: rgba(255, 255, 255, 0.9); display: inline-block; margin-right: 10px; text-decoration: none;">
		    새로운 공지가 있습니다. 확인하세요!!
		</a>
		<a class="btn btn-default btn-sm" href="#" style="margin-top: -5px; border: 0px; box-shadow: none; color: rgb(243, 156, 18); font-weight: 600; background: rgb(255, 255, 255);">	보러가기!
		</a>
	</div>
</template>