<template name="tagviewer">
	{{#with tag}}
	<div class="tagviewer_wrapper">
		<div class="tagviewer_area">
			{{#if bigsize}}
			<div class="tagviewer_box bigsize">
				<div class="tagviewer_image bigsize">
					<a href="{{url}}">
						<img src="{{image}}" alt="" class="tagviewer_img" width="{{width}}" height="{{height}}">
					</a>
				</div>
				<div class="tagviewer_context">
					<div class="tagviewer_context_title">
						<a href="{{url}}">
							<span class="span-title">{{title}}</span>
						</a>
					</div>
					<div class="tagviewer_context_description">{{description}}</div>
				</div>
			</div>
			{{else}}
			<div class="tagviewer_box">
				<div class="tagviewer_image">
					<a href="{{url}}">
						<img src="{{image}}" alt="" class="tagviewer_img" width="{{width}}" height="{{height}}">
					</a>
				</div>
				<div class="tagviewer_context">
					<div class="tagviewer_context_title">
						<a href="{{url}}">
							<span class="span-title">{{title}}</span>
						</a>
					</div>
					<div class="tagviewer_context_description">{{description}}</div>
				</div>
			</div>
			{{/if}}
			<div class="remove_image cubebox">
			  <div class="icon_circle">
			    <span class="glyphicon glyphicon-trash" id="tag_remove" style="cursor: pointer;"></span>
			  </div>
			</div>
		</div>
	</div>
	{{/with}}
</template>