<template name="tagviewer">
	{{#with tag}}
	<div class="tagviewer_wrapper" data-value="{{_id}}">
		<div class="tagviewer_area">
			{{#if bigsize}}
			<div class="tagviewer_box bigsize">
				<div class="tagviewer_image bigsize">
					<a href="{{url}}">
						<img src="{{image}}" alt="" class="tagviewer_img" width="{{width}}" height="{{height}}">
					</a>
				</div>
				<div class="tagviewer_context">
					<div class="tagviewer_context_title">
						<a href="{{url}}">
							<span class="span-title">{{title}}</span>
						</a>
					</div>
					<div class="tagviewer_context_description">{{description}}</div>
				</div>
			</div>
			{{else}}
			<div class="tagviewer_box">
				<div class="tagviewer_image">
					<a href="{{url}}">
						<img src="{{image}}" alt="" class="tagviewer_img" width="{{width}}" height="{{height}}">
					</a>
				</div>
				<div class="tagviewer_context">
					<div class="tagviewer_context_title">
						<a href="{{url}}">
							<span class="span-title">{{title}}</span>
						</a>
					</div>
					<div class="tagviewer_context_description">{{description}}</div>
				</div>
			</div>
			{{/if}}
			<div class="remove_image cubebox">
			  <div class="icon_circle">
			    <span class="glyphicon glyphicon-trash" id="tag_remove" style="cursor: pointer;" data-value="{{_id}}"></span>
			  </div>
			</div>
		</div>
	</div>
	{{/with}}
</template>
<template name="tagviewerLoading">
	<div class="overlay" id="tagviewLoading" style="width: 100%;height: 30px;text-align: center;font-size: 20px;">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
</template>

<template name="postTagView">
	{{#with tag}}
	<div class="ogtag_wrapper" data-value="{{_id}}">
		<div class="ogtag_area">
			{{#if bigsize}}
			<div class="ogtag_box bigsize">
				<div class="ogtag_image bigsize">
					{{#if isYoutube}}
					<div>
						<img src="{{image}}" alt="" class="ogtag_img" width="{{width}}" height="{{height}}">
					</div>
					<div class="playicon" id="tagYoutube"></div>
					{{else}}
					<a href="{{url}}">
						<img src="{{image}}" alt="" class="ogtag_img" width="{{width}}" height="{{height}}">
					</a> 
					{{/if}}
				</div>
				<div class="ogtag_context">
					<div class="ogtag_context_title">
						<a href="{{url}}">
							<span class="span-title">{{title}}</span>
						</a>
					</div>
					<div class="ogtag_context_description">{{description}}</div>
				</div>
			</div>
			{{else}}
			<div class="ogtag_box">
				<div class="ogtag_image">
					<a href="{{url}}">
						<img src="{{image}}" alt="" class="ogtag_img" width="{{width}}" height="{{height}}">
					</a>
				</div>
				<div class="ogtag_context">
					<div class="ogtag_context_title">
						<a href="{{url}}">
							<span class="span-title">{{title}}</span>
						</a>
					</div>
					<div class="ogtag_context_description">{{description}}</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
	{{/with}}
</template>
<template name="tagYoutube">
	<div id="player" class="tag-youtube-iframe"></div>
</template>