<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" required multiple/>
    <p><small>Upload file in <code>jpeg</code> or <code>png</code> format, with size less or equal to 10MB</small></p>
  {{/with}}
</template>

<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
  <div class="post_image_area">
    <div class="post_image_wrapper">
      <ul class="post_image_ul">
        <div class="in_block">
        {{#each file in uploadedFiles.each}}
        <!-- {{> fileview}} -->
          <div class="in_block">
            <li>
              <img src="{{file.link}}" alt="{{file.name}}" class="post_uploaded_image"/>
            </li>
            <div class="remove_image cubebox">
              <div class="icon_circle">
                <span class="glyphicon glyphicon-trash" id="file_remove" data-value="{{file._id}}" style="cursor: pointer;"></span>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </ul>
      </div>
  </div>
  {{else}}
    <div>No files uploaded, yet</div>
  {{/if}}
</template>

<template name="postFile">
  {{#with objFile}}
  <div class="in_block">
    <li>
      <img src="{{link}}" alt="{{name}}" class="post_uploaded_image"/>
    </li>
    <div class="remove_image cubebox">
      <div class="icon_circle">
        <span class="glyphicon glyphicon-trash" id="file_remove" data-value="{{_id}}" style="cursor: pointer;"></span>
      </div>
    </div>
  </div>
  {{/with}}
</template>