<template name="blindItem">
	<div class="box box-widget">
		<div class="box-header with-border">
			<div class="user-block">
				<span class="username" style="margin: 0px;">{{author}}님이 남기셨습니다.</span>
				<span class="description" style="margin: 0px;">{{formattedDate}}</span>
			</div>
      <!-- /.user-block -->
      <div class="box-tools btn-group pull-right">
        <button type="button" class="btn btn-box-tool  expand-post">
          <a href="{{pathFor '/blindlist/:id' id=_id }}">
              <i class="fa fa-fw fa-expand"></i>
          </a>
        </button>
        {{#if ownPost}}
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-option-vertical"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="delete_blind">삭제</a></li>
            <li><a href="#" id="edit_blind">수정하기</a></li>
          </ul>
          {{/if}}
      </div>
		</div>
        <div class="box-body">
          <!-- post text -->
          <div class="post-wrapper">
            <div class="post-context-wrapper">
              <div class="post-context-div">
                  <div class="post-context">{{{context}}}</div>
                </div>
            </div>
          </div>
          <div class="post-file-wrapper row" id='myarea'>
            {{> Template.dynamic template="postfileView" data=getdata}}
          </div>
        </div>
        <div class="box-tools-wrapper">
          <div class="box-tools">
            <div class="box-tools-div in_block">
                <div class="comment-button pull-left">
                  <i class="custom-comment {{commentsCount}}"></i>
                </div>
                <div class="comments-count">
                  <span class="pull-right text-muted">댓글 {{commentsCount}}</span>
                </div>
            </div>
          </div>
        </div>
          {{#each comments}}
            {{> blind_commentItem}}
          {{/each}}
        <!-- /.box-footer -->
        <div class="box-footer">
        <form class="comment form">
            <div class="input-group img-push">
              <div class="form-control comment-form" id="comment" contenteditable="true" placeholder="댓글을 입력하세요.."></div>
                  <span class="input-group-btn">
                    <button type="submit" id="comment_submit" class="btn btn-primary btn-flat">Send</button>
                  </span>
            </div>
          </form>

        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
</template>