<template name="blindlist">
	<div class="content-wrapper" >
		<section class="content-header">
			<h1>블라인드 게시판<small>무기명 건의하기</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{pathFor '/'}}"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">블라인드 게시판</li>
		</ol>
		</section>
		<section class="content">
			<div class="callout callout-info">
				<h4>블라인드 게시판은 무기명입니다!</h4>
					특정 인물에 대한 비방이나 실명거론, 욕설 등은 관리자에 의해 삭제 될 수 있음을 알려 드립니다.
				<a href="#">사장님께 건의하기</a>로 회사를 바꿔보세요.
			</div>
			<div class="row">
				<div class="box box-widget">
					<div class="box-body">
						<div class="col-lg-2">
							<button type="button" class="btn btn-primary btn-block" id="blind-modal">작성하기</button>
						</div>
						<div class="col-lg-2">
							<button type="button" class="btn btn-primary btn-block" id="blind-modal">사장님께 건의하기</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{#each blinds}}
						{{> blindItem}}
				    {{/each}}
		          <!-- /.box -->
		        </div>
			</div>
		</section>
	</div>
</template>