<template name="blindlist">
	<div class="content-wrapper" >
		<section class="content-header">
			<h1>블라인드 게시판<small>post</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{pathFor '/'}}"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">블라인드 게시판</li>
		</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-6">
					<div class="direct-chat-msg" id="blind-modal">
	                  <!-- /.direct-chat-info -->
	                  <img class="direct-chat-img" src="{{currentUser.profile.thumbnail}}" alt="Message User Image"><!-- /.direct-chat-img -->
	                  <div class="direct-chat-text">클릭하세요.</div>
	                  <!-- /.direct-chat-text -->
	                </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{#each blinds}}
						<div>{{context}}</div>
				    {{/each}}
		          <!-- /.box -->
		        </div>
			</div>
		</section>
	</div>
</template>