<template name="home">
<div class="content-wrapper">
	{{> notice}}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Locus Groupware<small>Version 0.5</small></h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-8">
    			<div class="row">
    				{{> todayPosts}}
    				{{> newMembers}}		
    			</div>
    		</div>
    	</div>
			
			{{> calendarWidget}}
    </section>
</div>
</template>