<template name="blind">
	<div class="content-wrapper">
		<section class="content-header">
			<h1>블라인드<small>무기명 게시판</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="{{pathFor '/'}}"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">블라인드 게시판</li>
			</ol>
		</section>
		<section class="content">
			<div class="callout callout-danger">
				<h4>쓸데 조심하세요!</h4>
					타인의 비방 및 직접적인 실명 언급은 피해주세요. 
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="#" class="btn btn-primary btn-block margin-bottom">블라인드 등록하기</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					
				</div>
			</div>
		</section>
	</div>
</template>