<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    {{#if notificationCount}}
      <span class="label label-warning">{{notificationCount}}</span>
    {{/if}}
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have {{notificationCount}} notifications</li>
    <li>
      <!-- inner menu: contains the actual data -->
      <ul class="menu">
        {{#if notificationCount}}
          {{#each notifications}}
            {{> notificationItem}}
          {{/each}}
        {{/if}}
      </ul>
    </li>
  </ul>
</template>

<template name="notificationItem">
  <li>
    <a href="{{pathFor '/postlist/:id' id=postId}}">
      <div class="pull-left">
        <img src="{{writer.profile.thumbnail}}" class="img-circle" alt="User Image">
      </div>
      <h4>
        <small>
          <i class="fa fa-clock-o">{{formattedDate}}</i>
        </small>
      </h4>
      <p>{{commenterName}}님이 댓글을 달았습니다.</p>
      <!-- <strong>{{commenterName}}</strong> 님이 댓글을 달았습니다. -->
    </a>
  </li>
</template>