<template name="sidebar">
	<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
      {{#if currentUser}}
        <div class="pull-left image">
          <img src="{{profileURL}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{username}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
        {{/if}}
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
      	<li>
          <a href="{{pathFor '/postlist'}}">
            <i class="fa fa-commenting-o"></i> <span>사내게시판</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-eye-slash"></i> <span>블라인드게시판</span>
          </a>
        </li>
        <li>
          <a href="{{pathFor '/userlist'}}">
            <i class="fa fa-users"></i> <span>임직원명단</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-th"></i> <span>회의실예약</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-question"></i> <span>FAQ게시판</span>
          </a>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-dashboard"></i> <span>ADMIN Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="{{pathFor '/google_api'}}"><i class="fa fa-circle-o"></i> 구글 API</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Settings</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>