<template name="faqlist">
	<div class="content-wrapper">
		<section class="content-header">
			<h1>FAQ<small>자주 묻는 질문</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{pathFor '/'}}"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">FAQ</li>
		</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="wrapper-content">
						{{#if isInRole 'admin' 'default-group'}}
						<div class="box box-solid">
							<div class="box-body">
								<h2>새로운 FAQ를 등록합니다.</h2>
	                            <button title="Create new cluster" class="btn btn-primary btn-sm" id="faq-modal"><i class="fa fa-plus"></i> <span class="bold">Faq 등록하기</span></button>
							</div>
						</div>
						{{/if}}
						{{> search}}
						<!-- {{#each faqs}}
							{{> faqItem}}
					    {{/each}} -->

					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<!-- insert faq modal form -->
<template name="faqModal">
	<div class="modal fade" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                	<form>
                		<div class="form-group">
                			<label for="faq_title">제목 : </label>
                			<input type="text" class="form-control" id="faq_title" autofocus>
                		</div>
						<div class="form-group">
							<label for="faq_body">내용 : </label>
							<div class="editor" id="text_editor"></div>
						</div>
                	</form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary disabled" id="submit" name="submit">저장</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- edit modal form -->
<template name="faqEditModal">
	<div class="modal fade" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                	<form>
                		<div class="form-group">
                			<label for="faq_title">제목 : </label>
                			<input type="text" class="form-control" id="faq_title" autofocus value="{{title}}">
                		</div>
						<div class="form-group">
							<label for="faq_body">내용 : </label>
							<div class="editor" id="text_editor">{{{body}}}</div>
						</div>
                	</form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary disabled" id="update" name="update">수정하기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</template>