<template name="search">
  {{! > EasySearch.Autosuggest index=index }}


  {{> EasySearch.Input index=index attributes=inputAttributes }}

  {{#EasySearch.IfInputEmpty index=index }}
    <div class="padded examples">"휴가", "연차" 와 같이 키워드로 찾으면 더 좋아요.</div>
  {{else}}
    {{#if resultsCount}}
      <div class="padded count-results">{{resultsCount}} results found.</div>
    {{/if}}
  {{/EasySearch.IfInputEmpty}}

    {{#EasySearch.Each index=index}}
      <!-- <li>Name of the player:  {{title}} ({{body}})</li> -->
      {{> faqItem}}
    {{/EasySearch.Each}}

  {{> EasySearch.LoadMore index=index}}

  {{#EasySearch.IfNoResults index=index}}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}}
</template>