<template name="google_api">
	<div class="content-wrapper">
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">
			            <div class="box-header with-border">
			              <h3 class="box-title">Google 에서 멤버 가져오기</h3>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body">
							<a class="btn btn-social btn-google" id="api_start">
								<i class="fa fa-google-plus"></i> Get user data from google API
							</a>
							<button type="button" class="btn btn-info disabled" id="btn_save">Save data</button>
							<div class="content" id="content"></div>
			            </div>
			            <!-- /.box-body -->
			          </div>
				</div>
			</div>
		</section>
	</div>
</template>