<template name="commentItem">
	<div class="box-footer box-comments">
		<div class="box-comment">
			<!-- User image -->
			<img class="img-circle img-sm" src="{{writer.profile.thumbnail}}" alt="User Image">
			{{#if ownComment}}
			<div class="box-tools btn-group pull-right">
	            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
	              <!-- <ul class="dropdown-menu" role="menu">
	                <li><a href="#" id="delete_comment">삭제</a></li>
	                <li><a href="#" id="edit_comment">수정</a></li>
	              </ul> -->
	        </div>
	        {{/if}}
			<div class="comment-text">
				<span class="username">{{author}}
					<span class="text-muted pull-right">{{formattedDate}}</span>
				</span><!-- /.username -->
				{{{body}}}
			</div>
		<!-- /.comment-text -->
		</div>
	</div>
</template>

<template name="comment_edit">
	<form class="comment form" id="comment_edit_form">
    	<img class="img-responsive img-circle img-sm" src="{{currentUser.profile.thumbnail}}" alt="Alt Text">
        <div class="input-group img-push">
          <div class="form-control comment-form" id="edit_comment_text" contenteditable="true" placeholder="댓글을 입력하세요..">{{{body}}}</div>
              <span class="input-group-btn">
                <button type="submit" id="comment_update" class="btn btn-primary btn-flat">수정</button>
                <button type="submit" id="comment_cancel" class="btn btn-primary btn-flat">취소</button>
              </span>
        </div>
      </form>
</template>