<template name="commentItem">
	<div class="box-footer comments">
		<div class="comment-box">
			<!-- User image -->
			<img class="img-circle img-sm" src="{{writer.profile.thumbnail}}" alt="User Image">
			{{#if ownComment}}
			<div class="box-tools btn-group pull-right">
	            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
	              <!-- <ul class="dropdown-menu" role="menu">
	                <li><a href="#" id="delete_comment">삭제</a></li>
	                <li><a href="#" id="edit_comment">수정</a></li>
	              </ul> -->
	        </div>
	        {{/if}}
			<div class="comment-text">
				<span class="username">{{author}}
					<span class="text-muted pull-right">{{formattedDate}}</span>
				</span><!-- /.username -->
				{{{body}}}
				<div class="comment-file-wrapper row" id='myarea'>
					{{> Template.dynamic template="commentfileView" data=getdata}}
				</div>
			</div>
		<!-- /.comment-text -->
		</div>
	</div>
</template>

<template name="comment_edit">
	<form class="comment form" id="comment_edit_form">
    	<img class="img-responsive img-circle img-sm" src="{{currentUser.profile.thumbnail}}" alt="Alt Text">
        <div class="input-group img-push">
			<ul class="comment_image_ul">
				<div class="in_block" id="comment-upload-file">{{> commnetUploadedFile}}</div>
			</ul>
			<div style="display: table-header-group;">
				<div class="form-control comment-form" id="edit_comment_text" contenteditable="true" placeholder="댓글을 입력하세요..">{{{body}}}</div>
					<span class="input-group-btn">
					<button type="submit" id="comment_update" class="btn btn-primary btn-flat">수정</button>
					<button type="submit" id="comment_cancel" class="btn btn-primary btn-flat">취소</button>
					</span>
				</div>
			</div>

      </form>
</template>
<template name = 'commentForm'>
	<form class="comment form" id="commentform">
    <div class="input-group img-push">
      <ul class="comment_image_ul">
        <div class="in_block" id="comment-upload-file"></div>
      </ul>
      <div style="display: table-header-group;">
        <div class="form-control comment-form" id="comment" contenteditable="true" placeholder="댓글을 입력하세요.."></div>
        <span class="input-group-btn">
          <input class="invisible" id="commentfile" type="file" name="commentfile" required="">
          <button id="commentUpload" class="btn btn-primary btn-flat" data-toggle="tooltip" title="" data-original-title="사진 올리기"><i class="fa fa-camera"></i></button>
          <button type="submit" id="comment_submit" class="btn btn-primary btn-flat disabled">Send</button>
        </span>
      </div>

    </div>
  </form>
</template>