<template name="postModal">
    <div class="modal fade" tabindex='-1'>
        <div class="modal-dialog" {{attribute}}>
            <div class="modal-content">
                <form class="post-upload-form" id="postform">
                <div class="fileover-area" style="" id="fileuploadArea">
                    <i class="fa fa-fw fa-file-picture-o"></i>
                    <span>여기로 사진을 올려서 보세요</span>
                </div>
                <div class="modal-header">
                    <div class="user-panel">
                        <div class="pull-left image">
                          <img src="{{currentUser.profile.thumbnail}}" class="img-circle" alt="User Image">
                          {{currentUser.profile.fullname}}
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- <div class="post_input" id="post_context_div">{{{postNote}}}</div> -->
                    <!-- <div class="form-control post-form" id="post_context" contenteditable="true" placeholder="쓰거라 상큼한 회사생활." autofocus></div> -->
                    <div class="post-form-wrapper modal-context-box">
                        <div class="post-form-area textcontext-area">
                            <div class="post-form textarea-copyform" id="post_context"></div>
                            <textarea class="modal_textarea" rows="1" placeholder="써보자 상큼한 회사생활." id="post_context_text" autofocus=""></textarea>
                        </div>
                        <div class="post_image_area">
                            <div class="post_image_wrapper">
                              <ul class="post_image_ul">
                                <div class="in_block" id="upload-file"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-ogtag-area">
                            
                    </div>
                    <div class='post-modal-tools-box'>
                        <input class="invisible" id="userfile" type="file" name="userfile" required="" multiple="">
                        <div class="post-camera" id="fakeUpload">
                          <i class="fa fa-camera"></i>
                        </div>
                    </div>
                    <!-- upload status -->
                    <!-- <div>
                        <h1 class="percentage">{{status.progress}}</h1>
                            <progress value="{{status.progress}}" max="100"></progress>
                            <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{status.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status.progress}}%">
                              <span class="sr-only">60% Complete (warning)</span>
                            </div>
                          </div>
                    </div> -->
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary disabled" id="submit" name="submit">저장하기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>
