<template name="postlist">
	<div class="content-wrapper" style="min-height: {{getHeight}}px;">
		{{> notice}}
		<section class="content-header">
			<h1>사내게시판<small>post</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{pathFor '/'}}"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">사내게시판</li>
		</ol>
		</section>
		<section class="content post-content">
		    <div class="row">
				{{#if condition1}}
					<div class="post-grid col-md-4">
						<div class="box box-widget" id="post-modal">
							<div class="box-body">
								<img class="direct-chat-img" src="{{currentUser.profile.thumbnail}}" alt="Message User Image"><!-- /.direct-chat-img -->
								<div class="direct-post">
									<span tabindex="0">{{currentUser.profile.fullname}}님 새로운 소식을 공유하세요.</span>
								</div>
							</div>
						</div>
						{{#each postData}}
			                {{#if col1}}
			                   	{{> postItem}}
			                {{/if}}
			            {{/each}}
			            </div>
			            <div class="post-grid col-md-4">
						{{#each postData}}
			                {{#if col2}}
			                   	{{> postItem}}
			                {{/if}}
			            {{/each}}
			            </div>
			            <div class="post-grid col-md-4">
						{{#each postData}}
			                {{#if col3}}
			                   	{{> postItem}}
			                {{/if}}
			            {{/each}}
			            </div>
				{{else}}
					{{#if condition2}}
						<div class="post-grid col-md-6">
						<div class="box box-widget" id="post-modal">
							<div class="box-body">
								<img class="direct-chat-img" src="{{currentUser.profile.thumbnail}}" alt="Message User Image"><!-- /.direct-chat-img -->
								<div class="direct-post">
									<span tabindex="0">{{currentUser.profile.fullname}}님 새로운 소식을 공유하세요.</span>
								</div>
							</div>
						</div>
						{{#each postData}}
			                {{#if even}}
			                   	{{> postItem}}
			                {{/if}}
			            {{/each}}
			            </div>
			            <div class="post-grid col-md-6">
						{{#each postData}}
			                {{#if odd}}
			                   	{{> postItem}}
			                {{/if}}
			            {{/each}}
			            </div>
					{{else}}
						{{#if condition3}}
						<div class="post-grid col-md-12">
							<div class="box box-widget" id="post-modal">
							<div class="box-body">
								<img class="direct-chat-img" src="{{currentUser.profile.thumbnail}}" alt="Message User Image"><!-- /.direct-chat-img -->
								<div class="direct-post">
									<span tabindex="0">{{currentUser.profile.fullname}}님 새로운 소식을 공유하세요.</span>
								</div>
							</div>
						</div>
							{{#each postData}}
								{{> postItem}}
							{{/each}}
						</div>
						{{/if}}
					{{/if}}
				{{/if}}
			</div>
		</section>
	</div>
	<div id="small-pencil">
          <div class="open-small-pencil">
              <i class="fa fa-pencil"></i>
          </div>
      </div>
</template>

