<template name="postItem">
  <!-- {{#with post}} -->
	<div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <img class="img-circle" src="{{writer.profile.thumbnail}}" alt="User Image">
            <span class="username"><a href="{{pathFor '/profile/:id' id=writer._id}}">{{writer.profile.fullname}}</a></span>
            <span class="description">{{formattedDate}}  No : {{index}}</span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools btn-group pull-right">
            {{#if ownPost}}
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-option-vertical"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="delete_post">삭제</a></li>
                <li><a href="#" id="edit_post">수정하기</a></li>
              </ul>
              {{/if}}
          </div>

          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          <div class="post-wrapper">
            <div class="post-context-wrapper">
              <div class="post-context-div">
                  <div class="post-context">{{{context}}}</div>
                </div>
            </div>
          </div>
          <!-- {{#if getFileIds}} -->
          <div class="post-file-wrapper row" id='myarea'>
            {{> Template.dynamic template="postfileView" data=getdata}}
            <!-- {{testgo}} -->
          <!-- {{#if isSingle}}
            {{#each getFiledata.each}}
              {{> postfilePageSingle}}
            {{/each}}
          {{else}}
            {{#each getFiledata.each}}
              {{> postfilePage}}
            {{/each}}
          {{/if}} -->
          </div>
          <!-- {{/if}} -->
        </div>
        <div class="box-tools-wrapper">
          <div class="box-tools">
            <div class="box-tools-div in_block">
                <div class="like-button pull-left">
                  <i class="custom-like {{checkPostLiked}}"></i>
                </div>
                <div class="likes-count">
                  <span class="pull-right text-muted">{{likes}} 명</span>
                </div>
                <div class="comment-button pull-left">
                  <i class="custom-comment"></i>
                </div>
                <div class="comments-count">
                  <span class="pull-right text-muted">댓글 {{commentsCount}}</span>
                </div>
            </div>
          </div>
        </div>
        <div class="box-comments-wrapper">
          {{#if Template.subscriptionsReady}}
          {{#each comments}}
            {{> commentItem}}
          {{/each}}
          {{else}}
          <div class="box-footer box-comments">
              <div class="box-comment">

              </div>
            </div>
          {{/if}}
        </div>
        <!-- /.box-footer -->
        <div class="box-footer">
        <form class="comment form" id="commentform">
        	<img class="img-responsive img-circle img-sm" src="{{currentUser.profile.thumbnail}}" alt="Alt Text">
            <div class="input-group img-push">
              <div class="form-control comment-form" id="comment" contenteditable="true" placeholder="댓글을 입력하세요.."></div>
              <span class="input-group-btn">
                <input class="invisible" id="commentfile" type="file" name="commentfile" required="">
                <button id="commentUpload" class="btn btn-primary btn-flat" data-toggle="tooltip" title="" data-original-title="사진 올리기"><i class="fa fa-camera"></i></button>
                <button type="submit" id="comment_submit" class="btn btn-primary btn-flat">Send</button>
              </span>
            </div>
          </form>

        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
  <!-- {{/with}} -->

</template>