<template name="postItem">
	<div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <img class="img-circle" src="{{writer.profile.thumbnail}}" alt="User Image">
            <span class="username"><a href="#">{{writer.profile.fullname}}</a></span>
            <span class="description">{{formattedDate}}</span>
          </div>
          <!-- /.user-block -->
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          {{context}}

          <!-- Social sharing buttons -->
          <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button> -->
          <!-- <span class="pull-right text-muted">{{commentCount}}comments</span> -->
        </div>
      
        <!-- /.box-footer -->
        <div class="box-footer">
        <form class="comment form">
        	<img class="img-responsive img-circle img-sm" src="{{currentUser.profile.thumbnail}}" alt="Alt Text">
            <div class="input-group img-push">
              <input type="text" name="message" placeholder="댓글을 입력하세요." class="form-control">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">Send</button>
                  </span>
            </div>
          </form>

        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /.box -->

</template>