<template name="postfilePage">
	{{#if isImage}}
	{{#if showPreview}}
			<a href="{{link}}" data-size="{{meta.width}}x{{meta.height}}" data-med="{{link 'preview'}}" data-med-size="{{versions.preview.width}}x{{versions.preview.height}}">
				<img src="{{link 'preview'}}" alt="{{name}}" class="postfile-multiple-image">
			</a>
			{{/if}}
	{{/if}}
</template>
<template name="postfilePageSingle">
	<div class="postfile-sinlgle-wrapper">
		<div class="postfile-image-wrapper" {{setAttr}}>
			<img src="{{link 'preview'}}" alt="{{name}}" class="postfile-image">
		</div>
	</div>
</template>

<template name="postfileView">
	<div class="image-gallery">
		{{#each Images.each}}
			{{#if isImage}}
			<a href="{{link}}" class="image-swipe" data-size="{{meta.width}}x{{meta.height}}" data-med="{{link 'preview'}}" data-med-size="{{versions.preview.width}}x{{versions.preview.height}}" >
				<img src="{{link 'preview'}}" alt="{{name}}" class="postfile-multiple-image">
			</a>
			{{else if isVideo}}
			<video class="file-preview" id="{{_id}}" controls="" autoplay="" preload="auto" playsinline="true" webkit-playsinline="true" loop="">
				<source src="{{link}}?play=true" type="{{type}}">
			</video>
			{{/if}}
		{{/each}}
	</div>
</template>